@model QLTours.Models.nguoidi

@{
    ViewBag.Title = "Edit";
}

<h2>Chỉnh sửa</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
<div class="form-horizontal">
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.Id)

    <div class="form-group">
        @Html.LabelFor(model => model.IdDoan, "Đoàn", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-6">
            @Html.ListBox("IdDoan", null, htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.IdDoan, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-10">
            @Html.EditorFor(model => model.DSNhanvien, new { htmlAttributes = new { @class = "form-control", @Value = @ViewBag.StrN, @style = "display:none" } })
            @Html.ValidationMessageFor(model => model.DSNhanvien, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-10">
            @Html.EditorFor(model => model.DSKhach, new { htmlAttributes = new { @class = "form-control", @Value = @ViewBag.StrK, @style = "display:none" } })
            @Html.ValidationMessageFor(model => model.DSKhach, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        

            <div class="col-md-3 ">
                <div class="panel panel panel-primary">
                    <div class="panel-heading">
                        Danh sách khách hàng
                    </div>

                    @Html.ListBox("DSKhach", null, htmlAttributes: new { @class = "form-control", @disabled = "disabled" })

                    <div class="panel-footer">
                        @Html.ActionLink("Chỉnh sửa danh sách khách", "DSKhachHangEd", new { id = Model.Id, StrN = ViewBag.StrN, StrK = ViewBag.StrK })
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        Danh sách nhân viên
                    </div>

                    @Html.ListBox("DSNhanVien", null, htmlAttributes: new { @class = "form-control", @disabled = "disabled" })

                    <div class="panel-footer">
                        @Html.ActionLink("Chỉnh sửa danh sách nhân viên", "DSNhanVienEd", new { id = Model.Id, StrN = ViewBag.StrN, StrK = ViewBag.StrK })
                    </div>
                </div>
            </div>
            
        </div>


        @*------------------------------------------------------------------------------------------------------------------------*@


        @*------------------------------------------------------------------------------------------------------------------------*@
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Lưu lại" class="btn btn-default" />
            </div>
        </div>
    </div>
    }

    <div>
        @Html.ActionLink("Back to List", "Index")
    </div>

    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }
