



@{
    ViewBag.Title = "Thống kê doanh thu tour";
}


<h2>Thống kê doanh thu tour</h2>
<table class="table table-striped table-bordered table-hover">
    <tr>
        <th>
            STT
        </th>
        <th>
            Tour
        </th>
        <th>
            Tổng số đoàn đi
        </th>
        <th>
            Tổng doanh thu
        </th>
        <th>
            Tổng chi phí
        </th>
        <th>
            Lãi
        </th>

    </tr>

    @{int counter = 0; }

    @foreach (var shift in ((List<QLTours.Controllers.thongkesController.ShiftsModeltour>)ViewBag.shifts))
    {

        <tr>
            <td>
                @(++counter)
            </td>
            <td>
                @shift.TenTour
            </td>
            <td>
                @shift.Tongsodoan
            </td>
            <td>
                @shift.Tongdoanhthu
            </td>
            <td>
                @shift.Tongchiphi
            </td>
            <td>
                @shift.Tonglai
            </td>

        </tr>






    }


</table>


